*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
}
.navbar{
    background: rgb(26, 161, 118);
   
}
.navbar ul{
    display:flex;
}
.navbar ul li {
    list-style: none;
    margin-top:15px;
    margin-bottom:15px;
    padding: 10px 5px;
    margin-left: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
   
}
.navbar ul li a:hover{
    background: white;
    color: rgb(26, 161, 118);
}

.main{
    display: flex;
}
.main1{
    margin: 80px 30px;
    padding: 10px auto;
}
.main1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}
.main1 p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.main1 button{
    margin: 10px;
    padding: 10px;
    background: rgb(16, 87, 210);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.main1 button:hover{
    background: rgb(235, 71, 42);
    color: rgb(249, 250, 252);
}

.img{
    width: -10px;
    height: 10px;
    margin: 10px;
}
.about-section{
display: flex;
margin-top: 500px;
}
.about-design{
    margin: 200px 50px 20px 20px;
}
.about-design h1{
    margin: 10px;
}
.about-design p{
    margin: 10px;
}
.about-design button{
    font-size: 15px;
    margin: 10px;
    padding: 10px 35px;
    background: orangered;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.weDo{
    justify-content: center;
    margin: 400px 200px 20px 20px;
}
.weDo h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.card{
    display: flex;
    
}
.card1{
    text-align: center;
    background: rgb(224, 23, 23);
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    height: 180px;
    width: 180px;
    border: 1px solid white;
    border-radius: 10px;
    
}
.card2{
    text-align: center;
    background: rgb(32, 229, 167);
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    height: 180px;
    width: 180px;
    border: 1px solid white;
    border-radius: 10px;
    
}